.line1 {
    margin-top: 25px;
    overflow: hidden;
}

.line2 {
    overflow: hidden;
    margin-top: 5px;
}

.round-photo {
    vertical-align: top;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    /*margin: 0 auto;*/
}

.round-photo img {
    height: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    min-width: 100%;
}

.input-wrapper {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

.input-wrapper a {
    text-decoration: none;
    color: darkgrey;
}

.search-input {
    border: none;
    float: right;
    margin-left: 10px;
    width: calc(100% - 28px);
}

.create-conversation {
    width: 100%;
    background-color: #1b7181;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    height: 40px;
}

.create-conversation:hover {
    background-color: #1c8c9c;
}

.messages-filter {
    padding: 0;
    background-color: white;
    border-radius: 5px;
    color: #1b7181;
    margin-bottom: 10px;
}

.messages-filter h4 {
    width: 100%;
    padding-left: 20px;
    margin: 0;
    line-height: 40px;
}

.messages-filter h4:hover {
    background-color: #d4e5e9;
}

.messages-block {
    background-color: white;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 10px;
}

.messages-block a {
    text-decoration: none;
    color: inherit;
}

.message {
    margin: 0;
    padding: 2px 0 2px 10px;
    width: 100%;
    border-bottom: 1px solid darkgray;
}

.message:hover {
    background-color: #d4e5e9;
}

.message-info {
    padding-left: 5px;
    width: calc(100% - 65px);
    display: inline-block;
}

.message-info h4 {
    display: inline-block;
    max-width: calc(100% - 105px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-info p {
    max-width: calc(100% - 10px);
    margin-top: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-info span {
    float: right;
    padding-top: 7px;
    padding-right: 3px;
}

.friends-block {
    height: calc(100vh - 257px);
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 33px;
}

.creation {
    width: 100%;
    border-top: 1px solid darkgray;
    position: absolute;
    bottom: 0;
}

.create-btn {
    float: right;
    border: none;
    background-color: white;
    color: #1b7181;
    padding: 5px 10px 5px 5px;
    font-size: 18px;
}

.create-input {
    height: 35px;
    width: calc(100% - 78px);
    border: none;
    padding-left: 10px;

    font-size: 18px;
}

.friend h4 {
    margin-top: 26px;
}

.f-check {
    display: none;
}

.f-check + label {
    margin-top: 20px;
    padding-left: 2px;
    float: right;
    border: 1px solid #1b7181;
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

/*#f-check + label:before {*/
/*content: '';*/
/*}*/

.f-check:checked + label:after {
    color: #1b7181;
    padding-left: 2px;
    content: "\f111";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.message-text {
    padding-left: 5px;
    width: calc(100% - 65px);
    display: inline-block;
}

.message-text h4 {
    display: inline-block;
    max-width: calc(100% - 105px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-text p {
    max-width: calc(100% - 10px);
    margin-top: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-text span {
    float: right;
    padding-top: 7px;
    padding-right: 3px;
}

.message-text h5 {
    margin-top: -5px;
}

.message-text img {
    width: 100%;
    padding: 2px 0 8px;
}

.message-item {
    margin: 0;
    padding: 2px 0 2px 10px;
    width: 100%;
    border-bottom: 1px solid darkgray;
}

.messages-items-block {
    height: calc(100vh - 212px);
    background-color: white;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 2px;
    overflow: scroll;
}

.send-buttons {
    width: 100%;
    background-color: white;
    min-height: 50px;
    border-radius: 5px;
}

.send-buttons button {
    float: right;
    background-color: white;
    color: #1b7181;
    border: none;
    padding: 13px;
}

#attach-btn {
    display: none;
}

#attach-btn + label {
    float: right;
    color: #1b7181;
    padding: 14px 2px 6px;
}

.post-input {
    border: none;
    margin-top: 5px;
    display: inline;
    width: calc(100% - 83px);
    height: auto;
    /*margin-left: 10px;*/
    resize: none;
    max-height: 400px;
}

.input-wrapper h4 {
    display: inline-block;
    text-align: center;
    width: calc(100% - 58px);
    margin: 0;
    font-size: 18px;
}

.search-input1 {
    padding-top: 0;
    border: none;
    margin: 0 3px;
    width: calc(100% - 64px);
    font-size: 16px;
    display: none;
}

#search-message {
    float: right;
}

form {
    display: inline-block;
}

