.theme {
    margin: 10px 0;
    border-bottom: 1px solid #c6c6c6;
}

.request > .choose-btn {
    margin: -50px 0 0 0;
}


.theme-name {
    color: #1b7181;
    margin: 3px 0;
}

.theme-direction {
    color: #8a8a8a;
    margin: 3px 0;
}

.choose-btn {
    float: right;
    border: none;
    width: 20%;
    background-color: #1b7181;
    color: white;
    height: 40px;
    border-radius: 5px;
    margin: -60px 0 25px 6px;
}

.choose-btn:hover {

    background-color: #1b8393;
}

.post-block {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    padding-top: 5px;
}

.line1 {
    margin-top: 25px;
    overflow: hidden;
}

.search-input {
    float: right;
    line-height: 35px;
    padding-right: 10px;
    border: none;
    font-size: 16px;
    width: calc(100% - 45px);
}


.post-info {
    width: calc(100% - 65px);
    padding-top: 5px;
    display: inline-block;
    color: #1b7181;
    margin-left: 10px;
}

.border-radius .post-block {
    margin-top: 5px;
}

.smth {
    padding: 0;
}

.s-icon {
    margin: 10px 0 0 8px;
}

.smth a:hover {
    text-decoration: none !important;
    color: black;
}

.add-btn {
    float: right;
    border: none;
    width: 20%;
    background-color: #1b7181;
    color: white;
    height: 40px;
    border-radius: 5px;
    margin: 0;
}

.theme-input {
    margin-top: 8px;
    width: 79%;
}

.left-btn {
    float: left;
    border: 1px solid #1b7181;
    background-color: white;
    color: #1b7181;
    height: 40px;
    border-radius: 5px;
    margin: 0;
    width: 50%;
}

.right-btn {
    float: right;
    border: 1px solid #1b7181;
    background-color: #1b7181;
    color: white;
    height: 40px;
    border-radius: 5px;
    margin: 0;
    width: 50%;
}

.select-directions {
    background-color: white;
    padding-right: 30px;
    font-size: 16px;
    width: 100%;
    border: none;
    height: 35px;
    margin: 0;
}

.search-button {
    border: none;
    background: white;
    margin: 0px 1px 0 0;
    display: inline;
    color: gray;
}