.input-wrapper1 {
    margin: 20px 20px 13px;
    height: 150px;
    background-color: rgba(210, 210, 210, 0.95);
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
    margin-top: 30px;
}

.input-wrapper2 {
    margin: 20px 20px 13px;
    height: 40px;
    background-color: rgba(210, 210, 210, 0.95);
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

.input-wrapper3 {
    margin: 20px 20px 13px;
    height: 50px;
    background-color: rgba(210, 210, 210, 0.95);
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

#submit-btn {
    display: inline;
    background-color: #1b7181;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    height: 40px;
    float: right;
}

#attach-btn {
    display: none;
}

#attach-btn + label {
    float: right;
    color: #1b7181;
    padding-top: 5px;
    padding-right: 20px;
}

h4 {
    color: #1b6d85;
}

.login-btn {
    width: 50%;
    float: right;
    font-size: 20px;
}

.cancel {
    display: inline-block;
    padding-top: 13px;
    font-size: 20px !important;
    margin: 0;
    /*width: 50%;*/
}

.no-mh {
    min-height: 350px;
}