@font-face {
    font-family: 'FontAwesome';
    src: url('../font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.main-block {
    background: url("../img/bg3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(100vh - 100px);
    overflow: auto;
}

.clear {
    clear: both;
}

.login-block {
    position: relative;
    margin-top: 3%;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 10px;
    min-height: 458px;
}

.login-input {
    border: none;
    background-color: transparent;
    width: 100%;
    padding-left: 15px;
    font-size: 18px;
    height: 30px;
}

.pass-input {
    border: none;
    background-color: transparent;
    width: 100%;
    padding-left: 15px;
    font-size: 22px;
    height: 30px;
}

::-webkit-input-placeholder {
    color: #5b5b5b;
    font-size: 18px;
}

.input-wrapper {
    margin: 20px 20px 13px;
    height: 40px;
    background-color: rgba(210, 210, 210, 0.95);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.input-label {
    margin: -15px 20px -23px 25px;
    font-size: 18px;
    color: #1b7181;
}

.error {
    margin-top: -20px;
    margin-bottom: 15px;
    color: #df0c2a;
    text-align: center;
    font-size: 20px;
}

.title {
    color: #1b7181;
    text-align: center;
    margin: 25px 0 30px 0;
}

.checkbox {
    display: none;
}

.checkbox + label {
    /*margin: 10px 5px 5px 20px;*/
    margin-left: 5px;
    cursor: pointer;
    font-size: 22px;
    background-color: rgba(210, 210, 210, 1);
    border-radius: 5px;
    height: 25px;
    width: 25px;
}

.checkbox + label::after {
    content: ".";
    display: inline-block;
    color: rgba(255, 255, 255, 0);
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: inherit;
}

.checkbox:checked + label::after {
    color: #1b7181;
    content: "\f00c";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    font-size: 22px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    text-decoration: inherit;
    padding-left: 2px;
}

.remember-sign {
    padding-left: 3px;
    color: #1b7181;
    font-size: 18px;
    vertical-align: super;
}

.forgot-sign {
    float: right;
    font-size: 18px;
    color: #494949;
}

.login-btn {
    padding-top: 7px;
    background-color: #1b7181;
    margin-right: 20px;
    color: #f5f4f4;
    height: 52px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 30px;
    font-weight: 100;
}

.login-btn:hover {
    background-color: #208a9c;
}

.line {
    margin-top: 25px;
}

.links a {
    font-size: 22px;
    text-decoration: none;
    color: #5a3d0f;
}

.links h3 {
    font-size: 22px;
    text-decoration: none;
    color: #5a3d0f;
}

.links {
    color: #1b7181;
    text-align: center;
}

.signup-btn {
    margin: 10px 0 30px 30%;
    padding-top: 5px;
    background-color: #1b7181;
    color: white;
    height: 52px;
    border: none;
    border-radius: 5px;
    width: 40%;
    font-size: 18px;
}

#signup-btn {
    font-size: 20px;
    cursor: pointer;
}

.error-text {
    color: #d10004;
    font-size: 16px;
    text-align: center;
}

.signup-error-text {
    color: #d10004;
    font-size: 16px;
    margin-right: 20px;
    /*margin-left: 20px;*/
    margin-top: -12px;
    text-align: right;
}

.modal-form {
    display: none;
    position: fixed;
    z-index: 1;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    height: 190px;
    margin-left: -15px;
    width: inherit;
    padding-top: 50px;
    text-align: center;
    box-shadow: 0px 0px 1px 2300px rgba(0, 0, 0, 0.8);
}

.modal-form a {
    text-decoration: none;
    color: #1b7181;
    font-size: 30px;
}

.left-side {
    width: 50%;
    display: inline-block;
}

.right-side {
    width: 50%;
    float: right;
    display: inline-block;
}

.selects {
    margin-top: 10px;
}

@media all and (max-width: 767px) {
    .signup-btn {
        font-size: 3.1vw !important;
    }

    .modal-form {
        width: 100%;
    }

    .title {
        padding-top: 20px;
    }
}