.main-block {
    background: url("../img/bg3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(100vh - 100px);
    overflow: auto;
}

.clear {
    clear: both;
}

.login-block {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 10px;
    min-height: 458px;
}

.login-input {
    border: none;
    background-color: transparent;
    width: 100%;
    padding-left: 15px;
    font-size: 18px;
    height: 30px;
}

.pass-input {
    border: none;
    background-color: transparent;
    width: 100%;
    padding-left: 15px;
    font-size: 22px;
    height: 30px;
}

::-webkit-input-placeholder {
    color: #5b5b5b;
    font-size: 18px;
}

.input-wrapper {
    margin: 20px 20px 13px;
    height: 40px;
    background-color: rgba(210, 210, 210, 0.95);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.input-label {
    margin: -15px 20px -23px 25px;
    font-size: 18px;
    color: #1b7181;
}

.error {
    border-radius: 5px;
    /*background-color: rgb(225, 181, 181);*/
    background-color: #ff7f50;
    margin: 0 20px;
    color: #7b0818;
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
    visibility: hidden;
}

.title {
    color: #1b7181;
    text-align: center;
    margin: 15px 0 30px 0;
}

.checkbox {
    display: none;
}

.checkbox + label {
    /*margin: 10px 5px 5px 20px;*/
    margin-left: 5px;
    cursor: pointer;
    font-size: 22px;
    background-color: rgba(210, 210, 210, 1);
    border-radius: 5px;
    height: 25px;
    width: 25px;
}

.checkbox + label::after {
    content: ".";
    display: inline-block;
    color: rgba(255, 255, 255, 0);
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: inherit;
}

.checkbox:checked + label::after {
    color: #1b7181;
    content: "\f00c";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    font-size: 22px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    text-decoration: inherit;
    padding-left: 2px;
}

.remember-sign {
    padding-left: 3px;
    color: #1b7181;
    font-size: 18px;
    vertical-align: super;
}

.forgot-sign {
    float: right;
    font-size: 18px;
    color: #494949;
}

.login-btn {
    padding-top: 5px;
    background-color: #1b7181;
    margin-right: 20px;
    color: #f5f4f4;
    height: 52px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 30px;
    font-weight: 100;
}

.login-btn:hover {
    background-color: #208a9c;
}

.line {
    margin-top: 25px;
}

.links a {
    font-size: 22px;
    text-decoration: none;
    color: #5a3d0f;
}

.links h3 {
    font-size: 22px;
    text-decoration: none;
    color: #5a3d0f;
}

.links {
    color: #1b7181;
    text-align: center;
}

.signup-btn {
    margin: 1px 20% 10px;
    background-color: #1b7181;
    color: white;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 60%;
    font-size: 18px;
    text-align: center;
}

#signup-btn {
    font-size: 20px;
    cursor: pointer;
}

.error-text {
    color: #8e1212;
    font-size: 16px;
    text-align: center;
}

.signup-error-text {
    color: #8e1212;
    font-size: 16px;
    margin-right: 20px;
    /*margin-left: 20px;*/
    margin-top: -12px;
    text-align: right;
}

.modal-form {
    display: none;
    position: fixed;
    z-index: 1;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    height: 190px;
    margin-left: -15px;
    width: inherit;
    padding-top: 50px;
    text-align: center;
    box-shadow: 0px 0px 1px 2300px rgba(0, 0, 0, 0.8);
}

.modal-form a {
    text-decoration: none;
    color: #1b7181;
    font-size: 30px;
}

.pass-change {
    border-top: 1px solid #dfdfdf;
    margin-bottom: 20px;
}

.pass-change > .input-label {
    margin-top: -5px;
}

.pass-change .title {
    padding-top: 3px;
    margin: 5px 0 0 0;
}

.input-wrapper-textarea {
    margin: 20px 20px 13px;
    /*height: 40px;*/
    background-color: rgba(210, 210, 210, 0.95);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.input-wrapper-textarea textarea {
    width: 100%;
    height: 140px;
    max-height: 140px;
    max-width: 100%;
}

.about {
    margin-top: 0px;
}

.departments {
    /*margin-left: 20px;*/
    font-size: 16px;
    overflow: auto;
    /*width: 100%;*/
    background-color: rgba(210, 210, 210, 0.95);

    margin: 2px 20px 13px;
    /*height: 40px;*/
    border: none;
    border-radius: 5px;
    padding: 5px;
}

@media all and (max-width: 767px) {
    .signup-btn {
        font-size: 3.1vw;
    }

    .modal-form {
        width: 100%;
    }

    .title {
        padding-top: 20px;
    }
}