.messages-items-block1 {
    height: calc(100vh - 212px);
    background-color: white;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 2px;
    overflow-y: scroll;
}

.news-submit-btn {
    display: inline;
    background-color: #1b7181;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 11px 20px;
    height: 40px;
    float: right;
    margin: 11px 2px;
}

.message-text span {
    float: right;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 3px;
}